requires: libudis86 stdlibs libiniparser cxx_io libio-vbus libstdc++ 
           libvcpu libloader liblwip_netif_ankh zlib
provides: romain libpthread_rep libuu libevbuf_c
maintainer: doebel@os.inf.tu-dresden.de
