Provides: disko
Requires: libstdc++ libpng freetype2 libsigc++ libxml2 libdl libpthread libc_minimal_l4re libc_be_math libc_be_file_stdin libc_be_l4refile libc_be_l4re l4re l4re_c libwhefs input
Maintainer: ivan.loskutov@ksyslabs.org
